@import "tailwindcss";

@layer base {
    div {
        @apply p-0 m-0
    }
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-4xl font-semibold;
    }
    h3 {
        @apply text-3xl font-semibold;
    }
    h4 {
        @apply text-2xl font-semibold;
    }
    p {
        @apply text-base;
    }
}